body{
    margin-top: 75px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.popover{
    max-width: 100%;
    border-color: #4b525a;
}

.popover.left>.arrow {
    border-left-color: #4b525a;
}

.popover-content{
    font-size: 0.8em;
}

.smstext{
    background-color: #272b30;
    border: 1px solid #4b525a;
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
}

.form-control[disabled]{
    background: #272b30;
    border-color: #4b525a;
    color: #c8c8c8;
}

.input-group-addon{
    background-color: transparent;
    border: none;
}

.input-group-addon.fixed-width{
    width: 170px !important;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.progress-value {
    position:absolute;
    right:0;
    left:0;
    color: #fff;
    text-shadow: #000 0.1em 0.1em 0.2em;
}


.status-sprite{
    display: block;
}

.status{
    height: 50px;
    line-height: 50px;
}

.status.fa{
    float:left;
}

.status.text{
    height: 14px;
    padding:0 5px;
    margin: 18px 5px 0 0;
    line-height: 12px;
    background: #272b30;
    border: 1px solid #4b525a;
    border-radius: 3px;
    float:left;
    display: block;
    font-size: 0.7em;
}