div.forum-body h5{
    font-size: 1.2em;
    font-weight: bold;
}
.start-discussion{
    margin:-3px 15px 0 15px;
    padding:3px 10px;
}

.no-resize{
    resize: none;
}

.btn-forum{
    padding: 0 6px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.input-xsm{
    height: 20px;
}

.input-grp-xsm{
    padding: 0 8px;
}

.btn-forum.disabled{
    opacity: 1;
}

div.forum-nav{
    border-bottom: 1px solid #1c1e22;
    height: 36px;
    margin: 0 !important;
    padding: 0 !important;
}

div.forum-nav ul{
    margin:0 !important;
    padding:0 !important;
}

div.forum-nav ul li{
    display: inline-block;
}

div.forum-nav li a{
    display: block;
    height: 36px;
    line-height: 36px;
    margin:0 15px;
    color: #c8c8c8;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

div.forum-nav li a:hover, div.forum-nav li a.active{
    border-bottom: 3px solid #c8c8c8;
}

div.forum-nav ul li a:first-child{
    margin-left: 0 !important;
}

.forum-wrap article{
    display: block;
    overflow: hidden;
}

.forum-body{
    float:left;
}

.forum-meta{
    float:right;
    text-align: center;
    padding:5px 15px;
}

.forum-meta a{
    font-size: 1.5em;
}

.forum-channel{
    float:left;
}

.text-muted.fpt {
    display: block;
    float: left;
    margin-left: 5px;
}

.discussion-header{
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #262a2d;
    line-height: 1.2em;
}

.discussion-header > .author{
}